ProyectoGrupal/WebContent/WEB-INF/services/Vuelo/META-INF/Vuelo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Vuelo" targetNamespace="http://www.mtis.org/Vuelo/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.mtis.org/Vuelo/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.mtis.org/Vuelo/">
      <xsd:element name="asignarAsiento">
        <xsd:complexType>
          <xsd:sequence>

          	<xsd:element name="DNI" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="asignarAsientoResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="asignado" type="xsd:boolean"/>
          	<xsd:element name="numeroAsiento" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="comprobarFechaLugar">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="lugar" type="xsd:string"/>
      			<xsd:element name="fecha" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="comprobarFechaLugarResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element maxOccurs="unbounded" minOccurs="0" name="out" type="tns:Asiento">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="comprobarDisponibilidad">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element maxOccurs="unbounded" minOccurs="0" name="asientos" type="tns:Asiento"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="comprobarDisponibilidadResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="disponible" type="xsd:boolean"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="eliminarAsiento">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="asiento" type="tns:Asiento"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="eliminarAsientoResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="borrado" type="xsd:boolean"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="Asiento">
      	<xsd:attribute name="id" type="xsd:int"/>
      	<xsd:attribute name="fecha" type="xsd:date"/>
      	<xsd:attribute name="lugarDestino" type="xsd:string"/>
      	<xsd:attribute name="disponible" type="xsd:boolean"/>
      	<xsd:attribute name="numero" type="xsd:int"/>
      	<xsd:attribute name="DNI" type="xsd:string" use="optional"/>
      </xsd:complexType>
      <xsd:element name="confirmarAsignacion">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="asiento" type="tns:Asiento"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="confirmarAsignacionResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="correcto" type="xsd:boolean"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="comprobarDisponibilidadResponse">
    <wsdl:part name="parameters" element="tns:comprobarDisponibilidadResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="confirmarAsignacionResponse">
    <wsdl:part name="parameters" element="tns:confirmarAsignacionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="asignarAsientoResponse">
    <wsdl:part name="parameters" element="tns:asignarAsientoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="eliminarAsientoRequest">
    <wsdl:part name="parameters" element="tns:eliminarAsiento">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="comprobarFechaLugarResponse">
    <wsdl:part name="parameters" element="tns:comprobarFechaLugarResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="eliminarAsientoResponse">
    <wsdl:part name="parameters" element="tns:eliminarAsientoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="confirmarAsignacionRequest">
    <wsdl:part name="parameters" element="tns:confirmarAsignacion">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="asignarAsientoRequest">
    <wsdl:part name="parameters" element="tns:asignarAsiento">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="comprobarDisponibilidadRequest">
    <wsdl:part name="parameters" element="tns:comprobarDisponibilidad">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="comprobarFechaLugarRequest">
    <wsdl:part name="parameters" element="tns:comprobarFechaLugar">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Vuelo">
    <wsdl:operation name="asignarAsiento">
      <wsdl:input message="tns:asignarAsientoRequest">
    </wsdl:input>
      <wsdl:output message="tns:asignarAsientoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="comprobarFechaLugar">
      <wsdl:input message="tns:comprobarFechaLugarRequest">
    </wsdl:input>
      <wsdl:output message="tns:comprobarFechaLugarResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="comprobarDisponibilidad">
      <wsdl:input message="tns:comprobarDisponibilidadRequest">
    </wsdl:input>
      <wsdl:output message="tns:comprobarDisponibilidadResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarAsiento">
      <wsdl:input message="tns:eliminarAsientoRequest">
    </wsdl:input>
      <wsdl:output message="tns:eliminarAsientoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="confirmarAsignacion">
      <wsdl:input message="tns:confirmarAsignacionRequest">
    </wsdl:input>
      <wsdl:output message="tns:confirmarAsignacionResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VueloSOAP" type="tns:Vuelo">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="asignarAsiento">
      <soap:operation soapAction="http://www.mtis.org/Vuelo/asignarAsiento"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="comprobarFechaLugar">
      <soap:operation soapAction="http://www.mtis.org/Vuelo/comprobarFechaLugar"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="comprobarDisponibilidad">
      <soap:operation soapAction="http://www.mtis.org/Vuelo/comprobarDisponibilidad"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarAsiento">
      <soap:operation soapAction="http://www.mtis.org/Vuelo/eliminarAsiento"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="confirmarAsignacion">
      <soap:operation soapAction="http://www.mtis.org/Vuelo/confirmarAsignacion"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Vuelo">
    <wsdl:port name="VueloSOAP" binding="tns:VueloSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
